@import "config.scss";

section#content {

	@media (max-width: 959px) {
		margin-top: 35px;
	}
	
}

article {
	
	clear: both;
	margin: 0 auto;

	@extend .typography;
	
	&.article {
		h1.title {
			display: inline-block;
		}	
		.content {
		}
		&.wide {
			.content {
				max-width: none;
			}
		}
	}
	
}
