@import "config.scss";

.navhorizontal {
	font-family: $ff_nav;
	text-align: center;
	a {
		text-decoration: none;
		color: $c_copy;
		&:hover {
			color: lighten($c_copy,40%);
		}
	}
	ul {
		clear: left;
		display: inline-block;
		margin: 0 auto 0;
		li {
			position: relative;
			display: inline;
			&:before { 
				content: "\00a0\2219\00a0"; 
			}
			&:first-child {
				margin-left: 0;
				&:before { 
					content: ""; 
				}
			}
			a {
				display: inline-block;
				padding: 5px 0;
			}
			&.current-menu-item,
			&.cuttent-menu-ancestor {
				font-weight: $ff_copy_bold;
				li {
					font-weight: normal;
					&.current-menu-item {
						font-weight: $ff_copy_bold;
					}
				}
			}
			ul {
				padding: 10px;
				background: lighten($c_copy,60%);
				margin: 0;
				position: absolute;
				display: none;
				left: 0;
				top: $fs_copy;
				li {
					&:before { 
						content: ""; 
					}
					display: block;
					margin: 0;
				}
			}
			&:hover {
				ul {
					display: block;
				}
			}
			.description {
				display: block;
				margin: 5px;
				font-size: 0.7em;
			}
		}
	}
}
