#sniffer {

	position: absolute;
	top: -500px;

	z-index: 1;
	@media screen and (min-width: 850px) {
		z-index: 2;
	}
}

.clear {
	clear: both;
}

.printonly {
	display: none;
}

.wp-caption,
img {
	max-width: 100%;
	height: auto;
}
