.f-left,
.alignleft {
	float: left;
}

.f-right,
.alignright {
	float: right;
}

.alignleft {
	margin: 0 10px 10px 0;
}

.alignright {
	margin: 0 0 10px 10px;
}

.a-left,
.text-left {
	text-align: left;
}

.a-right,
.text-right {
	text-align: right;
}