/* Farben */

$c_copy: #000;
$c_head: #000;
$c_link: #45a2df;

$c_okay: #ADDC91;
$c_warn: #E59E6D;
$c_button: $c_link;

$c_grau: #9C9C9C;
$c_grau_hell: #DFDDE1;

/* Font-Familien */

$ff_head: sans-serif;
$ff_copy: sans-serif;
$ff_ico: '';

$ff_nav:  $ff_head;
$ff_fixed: "Courier";
$ff_blockquote: $ff_copy;
$ff_form: $ff_head;

$ff_head_bold: 500;
$ff_copy_bold: 700;

/* Font-Groessen */

$fs_copy: 16px;
$fs_fixed: $fs_copy*0.8;
$fs_table: $fs_copy*0.9;
$fs_small: 14px;

/* Dimensionen */

$ww_full: 960px;
$ww_article: $ww_full;
$ww_gap: 20px;

@function pxtorem( $px ) {
    @return ( ( $px ) / ( $fs_copy / 1px ) ) * 1rem;
}
